.dialog-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 300px;

  .dialog-footer {
    display: flex;
    justify-content: center;
  }

  .text-block {
    font-size: large;
    padding-top: 50px;

    h1 {
      font-weight: 500;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

}

.dialog-container-header {
  display: none;
}

::ng-deep .searchIcon {
  position: absolute;
  top: 0;
  right: 175px;
  transform: translate(50%, -50%);
  border-radius: 50%;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
  height: 100px !important;
  width: 100px !important;
}

@media screen and (max-width: 670px) {
  .result-txt {
    display: none;
  }
  .dialog-container-header {
    display: flex;
    padding: 10px 0;
    align-items: center;

    h1 {
      margin: 0;
    }
  }
  ::ng-deep .cdk-overlay-container .cdk-overlay-pane {
    max-width: 100vh !important;
    width: 100vw !important;
    height: 100vh !important;
  }
  ::ng-deep .mat-dialog-container {
    padding: 0;
  }
  .dialog-container {
    width: auto;

    .dialog-container-header {
      padding: 20px 15px;
      border-bottom: 1px solid gray;
      justify-content: space-between;

      .empty-class {
        color: white;
      }

      .text-with-icon {
        display: flex;
        align-items: center;

        h1 {
          margin-left: 5px;
        }
      }

      .close-icon-wrapper {
      }
    }

    .searchIcon {
      display: none;
    }

    .text-block {
      align-self: flex-start;
      padding: 10px 15px;
    }

    .close-icon {
      cursor: pointer;
    }
  }

}
